<div class="container">
  <div class="row">
    <div class="col-lg-12 exchange_box">
      <div class="row">
        <div class="logo-box">
          <%= image_tag '/logo.png', class: "img-responsive"%>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden-md-down">
    <div class="col-lg-8 offset-lg-2 title-box">
        <h2 class="title">Converta facilmente suas Moedas</h2>
        <h3 class="title">Para qualquer moeda no Mundo!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-sm-12">
      <%= render "shared/exchange_box" %>
    </div>
  </div>
</div>
